<div class="p-6 w-80 block rounded-lg shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] dark:bg-neutral-700 bg-white">
  <div class="flex flex-col">
    <h1 class="py-2"><%= developer.full_name %></h1>
    <% if developer.image.attached? %>
      <div class="py-3 flex justify-center"><%= image_tag developer.image%></div>
    <% else %>
      <div class="py-3 flex justify-center"><%= image_tag "placeholder.png" %></div>
    <% end %>
    <strong>Uniqname: </strong><%=developer.uniqname%>
  </div>
</div>
<div class="p-6 w-80 block rounded-lg shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] dark:bg-neutral-700 bg-white">
  <strong>Projects:</strong>
  <ul>
    <% developer.webapps.each do |webapp| %>
      <li> <%= link_to(webapp.project_name, webapp) %> </li>
    <% end %>
  </ul>
</div>
</div>
