<div class="p-6
                      w-fit
                      block rounded-lg
                      shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] dark:bg-neutral-700 bg-white">
  <h3>Filters</h3>
  <%= search_form_for @search do |f| %>
    <div class="flex flex-col space-y-4">
      <div class="flex flex-col w-fit">
        <%= f.label :first_name_cont %>
        <%= f.search_field :first_name_cont %>
      </div>
      <div class="flex flex-col w-fit">
        <%= f.label :last_name_cont %>
        <%= f.search_field :last_name_cont %>
      </div>
      <div class="flex flex-col w-fit">
        <%= f.label :uniqname_cont %>
        <%= f.search_field :uniqname_cont %>
      </div>
      <div class="w-fit secondary_yellow_button "><%= f.submit %></div>
    </div>
  <% end %>
</div>
