<div class="container mx-auto">
  <p style="color: green"><%= notice %></p>
  <div class="flex flex-row justify-between py-2">
    <h1>Developers</h1>
    <button class="secondary_blue_button">
      <%= link_to "New developer", new_developer_path %>
    </button>
  </div>
  <div class="flex flex-row pt-5">
    <div class="grow-0 pr-10">
      <%= render "search"%>
    </div>
    <div class="grow">
      <table class="mi_table">
        <thead class="border border-l-0 border-r-0 border-gray-um60">
          <tr>
            <th class="header_th"><%= sort_link(@search, :last_name, 'Name', default_order: :desc) %></th>
            <th class="header_th"><%= sort_link(@search, :uniqname, 'Uniqname', default_order: :desc) %></th>
            <th class="header_th">Web Applications</th>
          </tr>
        </thead>
        <tbody>
          <% @developers.each do |a|%>
            <tr>
              <td class="mi_tbody_td hover:underline ">
                <%= link_to(a.full_name, a) %>
              </td>
              <td class="mi_tbody_td">
                <%= a.uniqname %>
              </td>
              <td class="mi_tbody_td">
                <ul>
                  <% a.webapps.each do |w| %>
                    <li class="hover:underline"><%= link_to(w.project_name, w) %></li>
                  <% end %>
                </ul>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
