<div class="w-full h-full bg-no-repeat bg-cover bg-left" style="background-image: url('https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.vecteezy.com%2Ffree-vector%2Fwhite-technology-background&psig=AOvVaw3UoDmWpvARL8XeP3jIC7xX&ust=1691020710693000&source=images&cd=vfe&opi=89978449&ved=0CBAQjRxqFwoTCKjmpP_VvIADFQAAAAAdAAAAABAD');">
</div>
<div class="container mx-auto">
  <p style="color: green"><%= notice %></p>
  <% if user_signed_in? %>
    <% if current_user.has_role? :admin%>
      <button class="secondary_blue_button py-2">
        <%= link_to "Edit this developer", edit_developer_path(@developer) %>
      </button>
    <% end %>
  <% end %>
  <div class="flex flex-row justify-center">
    <div><%= render @developer %></div>
  </div>
</div>
<% if false%>
  <div class="py-2">
    <button class="secondary_blue_button">
      <%= link_to "Edit this developer", edit_developer_path(@developer) %>
    </button>
  </div>
  <div class="py-2">
    <%= button_to "Delete", @developer, method: :delete, class: "secondary_blue_button"%>
  </div>
<% end%>
