<div id="<%= dom_id webapp %>">
  <p>
    <strong>Project name:</strong>
    <%= webapp.project_name %>
  </p>
  <p>
    <strong>Developers:</strong>
    <% webapp.developers.each do |w| %>
      <%= link_to(w.full_name, w) %>
    <% end %>
  </p>
  <p>
    <strong>Language:</strong>
    <%= webapp.language %>
  </p>
  <p>
    <strong>Framework:</strong>
    <%= webapp.framework %>
  </p>
  <p>
    <strong>Description:</strong>
    <%= webapp.description %>
  </p>
  <p>
    <strong>Notes:</strong>
    <%= webapp.notes %>
  </p>
  <p>
    <strong>Status:</strong>
    <%= webapp.status %>
  </p>
  <p>
    <strong>Authentication:</strong>
    <%= webapp.authentication %>
  </p>
  <p>
    <strong>Database:</strong>
    <%= webapp.database %>
  </p>
  <p>
    <strong>Server os:</strong>
    <%= webapp.server_os %>
  </p>
  <p>
    <strong>Server location:</strong>
    <%= webapp.server_location %>
  </p>
  <p>
    <strong>Documentation:</strong>
    <%= webapp.documentation %>
  </p>
  <p>
    <strong>Git repo:</strong>
    <%= webapp.git_repo %>
  </p>
  <p>
    <strong>App url:</strong>
    <%= webapp.app_url %>
  </p>
  <p>
    <strong>Risk manage consideration:</strong>
    <%= webapp.risk_manage_consideration %>
  </p>
  <p>
    <strong>Launch date:</strong>
    <%= webapp.launch_date %>
  </p>
  <p>
    <strong>End of life date:</strong>
    <%= webapp.end_of_life_date %>
  </p>
</div>
<%# Full Table Header %>
<%# <thead class="border border-l-0 border-r-0 border-gray-um60">
    <tr>
      <th class="header_th">Project Name</th>
      <th class="header_th">Language</th>
      <th class="header_th">Framework</th>
      <th class="header_th">Description</th>
      <th class="header_th">Notes</th>
      <th class="header_th">Status</th>
      <th class="header_th">Authentication</th>
      <th class="header_th">Database</th>
      <th class="header_th">Server OS</th>
      <th class="header_th">Server Location</th>
      <th class="header_th">Documentation</th>
      <th class="header_th">Git Repository</th>
      <th class="header_th">App URL</th>
      <th class="header_th">Risk Management Consideration</th>
      <th class="header_th">Launch Date</th>
      <th class="header_th">End of Life Date</th>
    </tr>
  </thead> %>
