<div class="py-3">
  <h1 class="pb-5"> <%= webapp.project_name %></h1>
  <div class="grid grid-col-3">
    <div class="col-span-2 pr-10">
      <h3>At a Glance</h3>
      <div>
        <p>
          <%= webapp.description %>
        </p>
      </div>
      <div>
        <p>
          <strong>Notes</strong>
          <%= webapp.notes %>
        </p>
      </div>
    </div>
    <div class= "col-start-3 col-span-1">
      <h3>Support</h3>
      <div>
        <strong>Documentation</strong>
        <%= webapp.documentation %>
      </div>
      <strong>Developers</strong>
      <% webapp.developers.each do |w| %>
        <ul>
          <li>        <%= link_to(w.full_name, w) %>
          </li>
        </ul>
      <% end %>
    </div>
  </div>
  <div>
    <h3>Technical Information</h3>
    <div>
      <strong>Language</strong>
      <%= webapp.language %>
    </div>
    <div>
      <p>
        <strong>Framework</strong>
        <%= webapp.framework %>
      </p>
    </div>
    <div>
      <strong>Status</strong>
      <%= webapp.status %>
    </div>
    <div>
      <strong>Authentication</strong>
      <%= webapp.authentication %>
    </div>
    <div>
      <strong>Server OS</strong>
      <%= webapp.server_os %>
    </div>
    <div>
      <strong>Server location</strong>
      <%= webapp.server_location %>
    </div>
    <div>
      <p>
        <strong>Risk Manage Consideration</strong>
        <%= webapp.risk_manage_consideration %>
      </p>
    </div>
    <div>
      <strong>Launch Date</strong>
      <%= webapp.launch_date %>
    </div>
    <div>
      <p>
        <strong>End of Life Date</strong>
        <%= webapp.end_of_life_date %>
      </p>
    </div>
  </div>
</div>
<% if user_signed_in?  %>
  <% if current_user.roles_name.first == "admin" || current_user.roles.first.resource_id == webapp.id %>
    <div class="flex flex-row justify-between">
      <div class="py-2">
        <button class="secondary_blue_button">
          <%= link_to "Edit", edit_webapp_path(@webapp) %>
        </button>
      </div>
      <div class="py-2">
        <%= button_to "Delete", @webapp, method: :delete, class: "secondary_blue_button"%>
      </div>
    </div>
  <% end %>
<% end %>
<%# Full Table Header %>
<%# <thead class="border border-l-0 border-r-0 border-gray-um60">
    <tr>
      <th class="header_th">Project Name</th>
      <th class="header_th">Language</th>
      <th class="header_th">Framework</th>
      <th class="header_th">Description</th>
      <th class="header_th">Notes</th>
      <th class="header_th">Status</th>
      <th class="header_th">Authentication</th>
      <th class="header_th">Database</th>
      <th class="header_th">Server OS</th>
      <th class="header_th">Server Location</th>
      <th class="header_th">Documentation</th>
      <th class="header_th">Git Repository</th>
      <th class="header_th">App URL</th>
      <th class="header_th">Risk Management Consideration</th>
      <th class="header_th">Launch Date</th>
      <th class="header_th">End of Life Date</th>
    </tr>
  </thead> %>
