<div id="<%= dom_id webapp %>">
  <p>
    <strong>Project name:</strong>
    <%= webapp.project_name %>
  </p>
  <p>
    <strong>Developers:</strong>
    <% webapp.developers.each do |w| %>
      <%= link_to(w.full_name, w) %>
    <% end %>
  </p>
  <p>
    <strong>Language:</strong>
    <%= webapp.language %>
  </p>
  <p>
    <strong>Framework:</strong>
    <%= webapp.framework %>
  </p>
  <p>
    <strong>Description:</strong>
    <%= webapp.description %>
  </p>
  <p>
    <strong>Notes:</strong>
    <%= webapp.notes %>
  </p>
  <p>
    <strong>Status:</strong>
    <%= webapp.status %>
  </p>
  <p>
    <strong>Authentication:</strong>
    <%= webapp.authentication %>
  </p>
  <p>
    <strong>Database:</strong>
    <%= webapp.database %>
  </p>
  <p>
    <strong>Server os:</strong>
    <%= webapp.server_os %>
  </p>
  <p>
    <strong>Server location:</strong>
    <%= webapp.server_location %>
  </p>
  <p>
    <strong>Documentation:</strong>
    <%= webapp.documentation %>
  </p>
  <p>
    <strong>Git repo:</strong>
    <%= webapp.git_repo %>
  </p>
  <p>
    <strong>App url:</strong>
    <%= webapp.app_url %>
  </p>
  <p>
    <strong>Risk manage consideration:</strong>
    <%= webapp.risk_manage_consideration %>
  </p>
  <p>
    <strong>Launch date:</strong>
    <%= webapp.launch_date %>
  </p>
  <p>
    <strong>End of life date:</strong>
    <%= webapp.end_of_life_date %>
  </p>
</div>
