<div class="grid grid-cols-3 gap-2 mx-16">
  <div class="col-span-2 px-6 pt-6 h-full rounded-lg shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] dark:bg-neutral-700 bg-white">
    <h1 class="py-2"><%= webapp.project_name %></h1>
    <div class="py-4">
      <%= webapp.description %>
    </div>
    <div class="font-semibold leading-7 text-xs rounded-md text-blue-900">
      <h2 class="py-2">Developers</h2>
      <div class="grid grid-cols-4 gap-3">
        <% webapp.developers.each do |developer| %>
          <div class="p-2 overflow-auto rounded-lg shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] dark:bg-neutral-700 bg-white text-center">
            <%= link_to(developer.full_name, developer) %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="col-span-1 h-full overflow-auto p-6 rounded-lg shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] dark:bg-neutral-700 bg-white">
    <h3 class="pb-4">Technical Information</h3>
    <div>
      <strong>Language</strong>
      <%= webapp.language %>
    </div>
    <div>
      <p>
        <strong>Framework</strong>
        <%= webapp.framework %>
      </p>
    </div>
    <div>
      <strong>Status</strong>
      <%= webapp.status %>
    </div>
    <div>
      <strong>Authentication</strong>
      <%= webapp.authentication %>
    </div>
    <div>
      <strong>Server OS</strong>
      <%= webapp.server_os %>
    </div>
    <div>
      <strong>Server location</strong>
      <%= webapp.server_location %>
    </div>
    <div>
      <p>
        <strong>Risk Manage Consideration</strong>
        <%= webapp.risk_manage_consideration %>
      </p>
    </div>
    <div>
      <strong>Launch Date</strong>
      <%= webapp.launch_date %>
    </div>
    <div>
      <p>
        <strong>End of Life Date</strong>
        <%= webapp.end_of_life_date %>
      </p>
    </div>
    <h3 class="py-2">Links</h3>
    <div class="flex flex-row justify-start space-x-2">
      <% !if webapp.git_repo? %>
      <div class="py-2 px-4 font-semibold leading-7 text-xs border w-fit rounded-full text-blue-900 bg-yellow-umyellow text-center">
        <%= link_to "Github", webapp.git_repo %>
      </div>
    <% end %>
    <% !if webapp.app_url? %>
    <div class="py-2 px-4 font-semibold leading-7 text-xs border w-fit rounded-full text-blue-900 bg-yellow-umyellow text-center">
      <%= link_to "App URL", webapp.app_url %>
    </div>
  <% end %>
  <% !if webapp.documentation? %>
  <div class="py-2 px-4 font-semibold leading-7 text-xs border w-fit rounded-full text-blue-900 bg-yellow-umyellow text-center">
    <%= link_to "Documentation", webapp.documentation %>
  </div>
<% end %>
</div>
</div>
</div>
