<%# <%= render "layouts/flash" %>
<div class="container px-1 mb-20">
  <h1 class="mb-4">Webapps</h1>
  <div>
    <button class="secondary_blue_button">
      <%= link_to "New webapp", new_webapp_path %>
    </button>
  </div>
  <div id="webapps" class="min-w-full">
    <% @webapps.each do |webapp| %>
      <%= render webapp %>
      <p>
        <%= link_to "Show this webapp", webapp %>
      </p>
    <% end %>
  </div>
</div>
<p style="color: green"><%= notice %></p>
