<p style="color: green"><%= notice %></p>
<div class="flex flex-col">
  <div class="py-2">
    <button class="secondary_blue_button">
      <%= link_to "Back to webapps", webapps_path %>
    </button>
  </div>
  <%= render @webapp %>
  <% if user_signed_in? %>
    <% if current_user.roles.first.resource_id == @webapp.id %>
      <div class="flex flex-row justify-between">
        <div class="py-2">
          <button class="secondary_blue_button">
            <%= link_to "Edit", edit_webapp_path(@webapp) %>
          </button>
        </div>
        <div class="py-2">
          <%= button_to "Delete", @webapp, method: :delete, class: "secondary_blue_button"%>
        </div>
      </div>
    <% end %>
  <% end %>
