<div class="container mx-auto">
  <div class="back_button" aria-label="Back"><%= link_to "Back", :back %></div>
  <h1 class="pb-2">Edit <%= @user.developer.full_name %>'s Roles</h1>
  <%= form_for @user do |f| %>
    <% Role.all.each do |role| %>
      <div class="py-1">
        <%= check_box_tag "user[role_ids][]", role.id, @user.role_ids.include?(role.id) %>
        <% if (role.resource_id != nil) %>
          <%= Webapp.find(role.resource_id).project_name %>
        <% else %>
          <p class="text-red-900 font-semibold inline"><%= role.name%></p>
        <% end %>
      </div>
    <% end %>
    <div class="secondary_yellow_button w-fit my-2"><%= f.submit %></div>
  <% end %>
