<nav class="static bg-blue-900 shadow" data-controller="dropdown">
  <div class="container mx-auto px-4 sm:px-8">
    <div class="flex justify-between h-16">
      <div class="flex-shrink-0 flex items-center">
        <div class="flex">
          <%= link_to root_path do %>
            <div class="flex items-center">
              <div class="inline-block h-8 justify-self-start content-start items-start">
                <%= image_tag 'mlsa.png', alt: 'LSA Logo', height: '35.75', width: '100', class: '' %>
              </div>
              <span class="text-white font text-3xl px-4 font-sans font-medium">
                Database
              </span>
            </div>
            <div class="hidden sm:ml-6 sm:flex sm:space-x-4 pl-2">
              <div class="header_link">
                <%= link_to "Developers", developers_path, class: "#{class_names(active: current_page?(developers_path))}" %>
              </div>
            </div>
            <div class="hidden sm:ml-6 sm:flex sm:space-x-4 pl-2">
              <div class="header_link">
                <%= link_to "Web Applications", webapps_path, class: "#{class_names(active: current_page?(developers_path))}" %>
              </div>
            </div>
            <% if user_signed_in? %>
              <div class="hidden sm:ml-6 sm:flex sm:space-x-4 pl-2">
                <div class="header_link">
                  <%= button_to "Sign out", destroy_user_session_path, method: :delete, class: "#{class_names(active: current_page?(developers_path))}" %>
                </div>
              </div>
            <% else %>
              <div class="hidden sm:ml-6 sm:flex sm:space-x-4 pl-2">
                <div class="header_link">
                  <%= link_to "Sign in", new_user_session_path, class: "#{class_names(active: current_page?(developers_path))}" %>
                </div>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </nav>
